<nav class="navbar navbar-dark bg-light">
    <div class="container">
      <div class="navbad-header">
          <h3 style="color:#17a2b8;font-family:helvetica;"><b>Student Courses Portal</b></h3>
          <p Style="color:#17a2b8;font-family:helvetica;"><b>Learn With Your Pace</b></p>
      </div>
            
      <div>
        <a routerLink="/signup" ><button style="margin-right:20px" type="button" class="btn btn-outline-info">Create an account</button></a>
           <a routerLink="/signin" ><button style="margin-right:20px" type="button"  class="btn btn-outline-info" >Sign in</button></a>
      </div>  
  </div>
  </nav>
  
  <!--To Display Image-->
      <img src="./assets/img/main.jpg" class="responsive" alt="Image 1"  >
      

 <!--Footer-->
    <footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
      <div class="container">
        <div class="row row-30">
          <div class="col-md-4 col-xl-5">
            <div class="pr-xl-4">
              <br>
              <p>We are Best in the market for providing online tutorials.</p>
              <!-- Rights-->
              <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>Student Course Portal</span><span>. </span><span>All Rights Reserved.</span></p>
            </div>
          </div>
          <div class="col-md-4">
            <br>
            <h5>Contacts</h5>
            <dl class="contact-list">
              <dt>Address:</dt>
              <dd>Flat 404,4th Floor,Laxmi Heights,BT Kawde Road,Pune,Maharashtra.</dd>
            </dl>
            <dl class="contact-list">
              <dt>E-mail:</dt>
              <dd><a href="mailto:#">prashantsinghgour@gmail.com</a></dd>
            </dl>
            <dl class="contact-list">
              <dt>Phones:</dt>
              <dd><a href="tel:#">+91-8668212510</a>
              </dd>
            </dl>
          </div>
          <div class="col-md-4 col-xl-3">
            <br>
            <h5>Links</h5>
            <ul class="student-list">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Projects</a></li>
             <li><a routerLink="/admin" >Admin</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row no-gutters social-container">
        <div class="col"><a class="social-inner" href="https://www.facebook.com/psg95" target="_blank"><span class="fa fa-facebook"></span></a></div>
        <div class="col"><a class="social-inner" href="https://www.instagram.com/__prashantsingh" target="_blank"><span class="fa fa-instagram"></span></a></div>
        <div class="col"><a class="social-inner" href="https://plus.google.com/u/0/+PrashantSinghGour" target="_blank"><span class="fa fa-google-plus"></span></a></div>
        <div class="col"><a class="social-inner" href="https://www.linkedin.com/in/prashant-singh-gour/" target="_blank"><span class="fa fa-linkedin"></span></a></div>
      </div>
    </footer>
