<div class="container-fluid">
<nav class="navbar navbar-dark bg-light">
  <div class="container">
    <div class="navbad-header">
        <h3 style="color:#17a2b8;font-family:helvetica;"><b>Student Courses Portal</b></h3>
        <p Style="color:#17a2b8;font-family:helvetica;"><b>Learn With Your Pace</b></p>
    </div>
    <div class="nav navbar-nav navbar-right">
      <a routerLink="/main-page" ><button style="margin-right:20px" (click)="onLogout()" type="button" class="btn btn-outline-info">Logout</button></a>
  </div>  
   
</div>
</nav>

<div class="container">
  <br>
  <h3 style="color:#17a2b8;font-family:helvetica;">Courses</h3>

  <div>
  <div class="row">
    
      <div class="col-md-4">
        <h5 style="color:#17a2b8;font-family:helvetica;display: inline;">1. Artificial Intelligence</h5>
        <br>
        <img src="./assets/img/AI.jpg" alt="AI_img" width="300" height="180">
      </div>
      <div class="col-md-8">
        <p><br><br><br>
            This Artificial Intelligence course provides training in the skills 
            required for a career in AI. You will master TensorFlow, Machine Learning, 
            and other AI concepts, plus the programming languages needed to design intelligent 
            agents, deep learning algorithms & advanced artificial neural networks that use predictive 
            analytics to solve real-time decision-making problems.
        </p>      
      </div>     
  </div>
</div>
<br>
<button style="margin-right:20px;" type="button"  class="btn btn-outline-info" >Apply Now</button>
<br><br>
<div>
    <div class="row">
    
        <div class="col-md-4">
          <h5 style="color:#17a2b8;font-family:helvetica;display: inline;">2. Angular 2 </h5>
          <br>
          <img src="./assets/img/Angular.jpg" alt="Angular_img" width="300" height="180">
        </div>
        <div class="col-md-8">
          <p><br><br><br>
            Angular 2 is a complete rewrite of the Angular framework, incorporating the 
            latest standards in JavaScript and unifying many of the diverse elements found in 
            AngularJS 1.x. The new Angular 2 training course includes a comprehensive introduction to
            AngularJS version 2.0, introduction to TypeScript and ES6, Components,
            Form Handling, Data Binding and much more.
          </p>
          
        </div> 
    </div>
  </div>
  <br>
  <button style="margin-right:20px" type="button"  class="btn btn-outline-info" >Apply Now</button>
  <br><br>
<div>
    <div class="row">
    
        <div class="col-md-4">
          <h5 style="color:#17a2b8;font-family:helvetica;display: inline;">3. Big Data </h5>
          <br>
          <img src="./assets/img/Big.jpg" alt="Big_Data_img" width="300" height="180">
        </div>
        <div class="col-md-8">
          <p><br><br><br>
            The Big Data Hadoop Architect Master's Program transforms you into a qualified Hadoop 
            Architect. This data architect certification lets you master various aspects of Hadoop, 
            including real-time processing using Spark and NoSQL database technology and other Big 
            Data technologies such as Storm, Kafka and Impala. Big Data Hadoop architects are among 
            the highest paid professionals in the IT industry.
          </p>          
        </div> 
    </div>
  </div>
  <br>
  <button style="margin-right:20px" type="button"  class="btn btn-outline-info" >Apply Now</button>
  <br><br>
  <div>
      <div class="row">
      
          <div class="col-md-4">
            <h5 style="color:#17a2b8;font-family:helvetica;display: inline;">4. Java </h5>
            <br>
            <img src="./assets/img/Java.jpg" alt="Java_img" width="300" height="180">
          </div>
          <div class="col-md-8">
            <p><br><br><br>
              This course will provide you with an introduction to Java EE using Red Hat JBoss Developer 
              Studio and Red Hat JBoss Enterprise Application Platform. Through hands-on labs, you will 
              transform a simple Java SE command line into an enterprise application that uses various 
              Java EE specifications, including Enterprise Java Beans, Java Persistence API, and JAX-RS 
              for REST services.
<br>
              This course will benefit developers that already have a strong foundation in Java SE and 
              want to learn the basic skills and concepts that are necessary to be an enterprise Java 
              Developer.
            </p>
           
          </div> 
      </div>
    </div>
    <button style="margin-right:20px" type="button"  class="btn btn-outline-info" >Apply Now</button>
    <br><br>
<div>
    <div class="row">
    
        <div class="col-md-4">
          <h5 style="color:#17a2b8;font-family:helvetica;display: inline;">5. Node js </h5>
          <br>
          <img src="./assets/img/Node.jpg" alt="Node_img" width="300" height="180">
        </div>
        <div class="col-md-8">
          <p><br>
            Have you ever wanted to create a full-fledged web application, beyond just a simple HTML page? 
            In this course, you will learn how to set up a web server, interact with a database and much more!
            <br>

            This course will start off by teaching you the basics of Node.js and its core modules. You will then 
            learn how to import additional modules and configure your project using npm. From there, you will 
            learn how to use Express to set up a web server and how to interact with a MongoDB database using 
            Mongoose. By the end of the course you will have created several real-world projects such as a web 
            scraper, a blogging API, and a database migration script.

          </p>
        </div> 
    </div>
  </div>
  <button style="margin-right:20px" type="button"  class="btn btn-outline-info" >Apply Now</button>
</div>
</div>